  <h1>USUARIOS DUMMY</h1>
  
  <form action="/start" method="get" >
  <div class="form-group">
    <br><br>
    <button type="submit" class="btn btn-default" >Iniciar Sesión</button>
  </div>  
  </form>

<form action="/new" method="get" >
  <div class="form-group">
    <br><br>
    <button type="submit" class="btn btn-default" >Crear Usuario</button>
  </div>  
  </form>

