
<h2>Resultados...</h2>
<h3> <%= @user.name %> </h3>

******************************************************

<h3> Respuestas Correctas: <%= @count %> </h3>

<h3> Respuestas Incorrectas: <%= @item - @count %> </h3>


******************************************************
<form action="/secret" method="get">
  <div class="form-group">
    <button type="submit" class="btn btn-default">ok¡</button>
  </div>
</form>
******************************************************