
<h2>¡Informacion General!¡</h2>
<h3> <%= @user.name %> </h3>

<form action="/log_out" method="post">
  <div class="form-group">
    <button type="submit" class="btn btn-default">Log out¡</button>
  </div>
</form>
******************************************************

<h3> Juegos jugados </h3>

<% if @data %>
  <% @data.each_with_index do |game, index| %>
    <h4>Juego <%= index + 1 %></h4>
    
    <% count_rigth = 0 %>
    <% count_wrong = 0 %>
    <% game.each do |info| %>
      <% info.each do |info_game| %>
        <% if info_game.score == true %>
          <% count_rigth += 1 %>
        <% else %>
          <% count_wrong += 1 %>
        <%end%>
      <%end%>
    <%end%>
    <p>Respuestas Correctas: <%= count_rigth %> </p>
    <p>Respuestas Incorrectas: <%=  count_wrong %> </p>

    
    <br>
  <%end%>
<%end%>
</form>

