
<h2>¡Bienvenido Pagina Secreta!</h2>
<br>
<%= @user.name %> 
<br>
<br>
<br>
<br>

<form action="/log_out" method="post">
  <div class="form-group">
    <button type="submit" class="btn btn-default">Salir</button>
  </div>