<h1>Find Anagrams!</h1>

<% if @new_word && @all_words%>
  <p>Estos son anagramas para '<%= @new_word %>':</p>
  <% @all_words.each do |item|%>
  <p><%= item %></p>
  <% end %> 
<% end %>

<%= erb :kill %>
