  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

  <form action="/cool_url" method="get">
    <input type="text" name="oki" placeholder="Name"><br>
    <input type="submit">
    <br>
    <textarea cols="40" rows="5" name="myname">
      Text area¡
    </textarea>
    <br>
    <input type="checkbox" name="option1" value="New"> Something new<br>
    <input type="checkbox" name="option2" value="Old" checked> The same<br>
  </form>


  

 <form action="/cool_url" method="post">
  <br>
  <select name="mydropdown">
<option value="Milk">Fresh Milk</option>
<option value="Cheese">Old Cheese</option>
<option value="Bread">Hot Bread</option>
</select>
<br>

    <input type="text" name="bla" placeholder="Name"><br>
    <input type="submit">
    <br>
    <input type="radio" name="group1" value="Good"> Milk<br>
    <input type="radio" name="group1" value="Bad¡" checked> Bad Butter<br>
  </form>

