  <h1>Reductor De Urls!</h1>
  <p>Este programa reduce el tamaño de una url</p>

  <form action="/urls" method="post">
    Ingrsa url¡¡:
    <br>
    <input type="text" name="info_url">
    <input type="submit" value="ok!">
  </form>
